*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: #000435;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.choice{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 180px;
    width: 180px;
    /* object-fit: cover; */
    border: 3px solid black;
    border-radius: 50%;
    padding: 10px;
}

.choice:hover{
    cursor: pointer;
    background-color: #000435;
    border-radius: 50%;
    
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 25px;
    gap: 3rem;
}

#user, #comp{
    font-size: 50px;
}

.msgbox{
    margin-top: 3rem;
    /* border: 3px solid #000435;
    border-radius: 10%;
    height: 3rem;
    font-size: 2rem; */
}

#msg{
    border-radius: 1rem;
    color: #fff;
    background-color: #000435;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
}